/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */
@tailwind utilities;

body {
  font-family: "Josefin Sans", sans-serif;
  background: rgba(0, 0, 0, 0.05);
}

h1,
h2,
h3,
h4,
h5,
h6,
button {
  font-family: "Playfair Display", serif;
}
