/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */
@tailwind utilities;

body {
  font-family: "Josefin Sans", sans-serif;
}

.font-playfair {
  font-family: "Playfair Display", serif;
}
.post-body a {
  color: #ac8266;
}
