/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */
@tailwind utilities;

body {
  font-family: "Josefin Sans", sans-serif;
}
.post-body h1,
.post-body h2,
.post-body h3 {
  font-weight: 400 !important;
}

h1,h2,h3 {
  font-family: "Playfair Display", serif;
}

.font-playfair {
  font-family: "Playfair Display", serif;
}
.font-montagu {
  font-family: "Montagu Slab", serif;
}
a:hover {
  cursor: pointer;
}
.post-body a {
  color: #ac8266;
}
